<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrf.ssm.party.dao.PartyMapper">
    <resultMap id="partyResult"
               type="com.lrf.ssm.party.model.Party">
        <id column="party_id" property="partyId" jdbcType="INTEGER"/>
        <result column="party_name" property="partyName" jdbcType="VARCHAR"/>
        <result column="party_type" property="partyType" jdbcType="VARCHAR"/>
        <result column="party_level" property="partyLevel" jdbcType="VARCHAR"/>

        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addParty" parameterType="party">
        insert into party(party_name,party_type,party_level,phone,address)
                    values(#{partyName},#{partyType},#{partyLevel},#{phone},#{address});
    </insert>

    <delete id="deleteParty" parameterType="INTEGER">
        delete from party where party_id=#{partyId};
    </delete>

    <update id="updateParty" parameterType="party">
        update party set party_name=#{partyName},
                            party_type=#{partyType},
                            party_level=#{partyLevel},
                            phone=#{phone},
                            address=#{address}
                        where party_id=#{partyId};
    </update>

    <select id="findPartyById" parameterType="INTEGER"
            resultMap="partyResult">
        select * from party where party_id=#{partyId};
    </select>

    <select id="findAllParty" resultMap="partyResult">
        select * from party
    </select>

</mapper>