<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    配置别名-->
    <typeAliases>
        <!--定义Mapper中引用到的业务对象类的位置-->
        <package name="com.lrf.ssm.party.model"/>
        <package name="com.lrf.ssm.course.model"/>
    </typeAliases>
    <!--配置Mapper的位置 -->
    <mappers>
        <mapper resource="com/lrf/ssm/party/mapper/PartyMapper.xml"></mapper>
        <mapper resource="com/lrf/ssm/course/mapper/CourseMapper.xml"></mapper>
    </mappers>

</configuration>